
# Paste a standard Sentry DSN here to enable error logging to the Sentry Server
SENTRY_DSN=https://2cc9682e08da4b229a276e3b1ef16f81:8e747c6e6def489fab071d4269012d4d@sentry.io/198525

# Put in a secret string here for seeding Flask cookie generation and such
SECRET_KEY=sadfjhaoiwejnor32098ronjadjnsv0[9eawonaad

# put the log level you want in here
LOG_LEVEL=DEBUG

# an API to access the Media Cloud API server
MEDIA_CLOUD_API_KEY=e9c71c7bfbc90c8b4e98948466738bdfb4a91cadde8a1f38626f1ccdfccc6535
