
# Paste a standard Sentry DSN here to enable error logging to the Sentry Server
SENTRY_DSN=https://<key>:<secret>@app.getsentry.com/<project>

# Put in a secret string here for seeding Flask cookie generation and such
SECRET_KEY=132453ljksdlkasdlk234r;

# put the log level you want in here
LOG_LEVEL=INFO

# an API to access the Media Cloud API server
MEDIA_CLOUD_API_KEY=YOUR_KEY_HERE
